<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Instagram</title>
</head>
<body>
<div class="row">
    <div class="col container">
      <div class="row" style="display: inline-flex;">
        <div class="col">
          <img src="img/caio.png" style="height: 50px;"><br>
          Caio Rocha
        </div>
        <div class="col" style="text-align: center;">
          <p>1 Seguidores</p>
        </div>
        <div class="col" style="text-align: center;">
          <p>36 Seguidores</p>
        </div>
        <div class="col" style="text-align: center;">
          <p>695 Seguindo</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          Muita coisa pode ser escrita aqui.<br>
          acesse <a href="www.google.com"> http://dsifahsdpfha.com </a>
          </div>
      </div>
      <div class="row">
        <div class="col">
          Seguido(a) por pessoa1, pessoa 2, pessoa3 e outras 60 pessoas.
          </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary">Seguir</button>| <button class="btn btn-primary">Menssagem</button>| <button class="btn btn-primary">Email</button> | <button class="btn btn-primary">Mais</button>
          </div>
      </div>
      <div class="row">
        <div class="col">
          ALl| Reels| Video | Matched
          </div>
      </div>
      <div class="row" style="display: inline-flex;">
        <div class="col">
          <img src="img/caio.png" style="height: 50px; "><br>
        </div>
        <div class="col">
          <img src="img/caio.png" style="height: 50px;"><br>
        </div>
        <div class="col">
          <img src="img/caio.png" style="height: 50px;"><br>
        </div>
        <div class="col">
          <img src="img/caio.png" style="height: 50px;"><br>
        </div>
        <div class="col">
          <img src="img/caio.png" style="height: 50px;"><br>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <img src="/img/1.png" style="height: 50px;">
        </div>
        <div class="col">
          <img src="/img/1.png" style="height: 50px;">
        </div>
        <div class="col">
          <img src="/img/1.png" style="height: 50px;">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/img/1.png" style="height: 50px;">
        </div>
        <div class="col">
          <img src="/img/1.png" style="height: 50px;">
        </div>
        <div class="col">
          <img src="/img/1.png" style="height: 50px;">
        </div>
      </div>
    </div>
  </div>
    
</body>
</html>